body {
    margin: 0;
    padding: 0;
}
/*estilo personalizado do header*/
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo img{
    /*height: 100px;*/
    width: 100px;
}
.menu { 
    display: flex;
    align-items: center;
    font-size: 12px;
}
.menu .active {
    background-color: #73bfb8;
    border-radius: 5px;
    color: #fff;
}
.menu a:hover {
    transition: 0.5s;
    background-color: #73bfb8;
    border-radius: 5px;
    color: #fff;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu a {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
/* Style The Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #73bfb8}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.dropdownInt {
    position: relative;
}
.droptbtnInt {
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown-content-int {
    margin-left: 300px;
    margin-top: -60px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-top: #050505;
    border-left: #050505;
    border-bottom: #050505;
}
.dropdown-content-int a{
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content-int a:hover{background-color: #73bfb8;}
.dropdownInt:hover .dropdown-content-int {display: block;}
/*topo*/
#carouselExampleIndicators {
    height: calc(100vh - 80px);
    
}
#slider1 {
    background-image: url('../img/background1.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}
#carouselExampleIndicators .item-texto{
    background-color: blanchedalmond;
    display: flex;
}
#slider2 {
    background-image: url('../img/background1.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}
#slider3 {
    background-image: url('../img/background1.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}
/*estratégias*/
#estrategias{
    text-align: center;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
}
.topoInterno {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
}
.topoInterno h1 {
    font-weight: bold;
    font-size: 4em;
    color: #fec601;
    margin: 0px 0px 50px 0px;
}
.topoInterno h2 {
    font-size: 1.8em;
}

.br {
    height: 10px;
    max-width: 500px;
    margin: auto;
    background-color: #fec601;
    margin-bottom: 50px;
}
#estrategias img {
    width: 500px;
}
#estrategias h2{
    color: #000;
    font-size: bold;
    padding-top: 20px;
}
#estrategias .conteudo{
    display: flex;
    flex-direction: column;
}
#estrategias .conteudo h2 {
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-weight: bold;
    color: #000;
}
#estrategias .conteudo p{
    font-size: 18px;
    color: #000;
}
.conteudoEstrategiasInfo {
    text-align: left;
}
.conteudoEstrategiasInfo ul {
    color: #000;
  
}
.conteudoEstrategiasInfo h4{
    font-size: 15px;
    font-size: bold;
}
.conteudoEstrategiasInfo a {
    font-size: 13px;
}

/*estrategiaMomentoAprendizagem*/
#estrategiaMomentoAprendizagem {
    padding: 20px 0px 20px 0px;                                                                                                                                                                                     
    background-image: url('../img/pexels-ivan-samkov-5676744.jpg');
    background-position: center;
    background-size: cover                                                                                                                                                                                                                                              ;
}

.areaMetodoConteudo {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}
.areaMetodoConteudo .item {
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #ccc;
    padding: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.areaMetodoConteudo .item h4 {
    font-size: 20px;
    text-align: center;
}
.areaMetodoConteudo .item h5 {
    font-size: 15px;
    color: #888;
}
.areaMetodoConteudo .item p {
    font-size: 12px;
}
/*depoimentos*/
#depoimentos{
    background-color: #F2F4F3;
    
}
#depoimentos .img {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
#depoimentos .img img {
    width: 100%;
    border-radius: 50%;
}
#depoimentos .depoimentoItem.background{
    background-color: #ea7317;
    color: #F2F4F3;
    padding-top: 80px;
}
#depoimentos .depoimentoItem.background h4 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #F2F4F3;
}
#depoimentos .depoimentoItem.background p {
    font-size: 15px;
    color: #fff;
}
.depoimentoItem.item{
    margin: 150px 0px 80px 0px;
    text-align: justify;
}
/*pesquisadores*/
#pesquisadores .item{
    margin: 0px 0px 100px 0px;
    color: #050505;
}
#pesquisadores .item .imagem{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100px;
    border: 5px solid #000;
    margin-bottom: 5px;
}
#pesquisadores .item .imagem img {
    width: 100%;
    border-radius: 50%;
}
#pesquisadores .item h5 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
#pesquisadores .item span{
    font-size: 12px;
}
#pesquisadores .item .redesSocias {
    display: flex;
    justify-content: space-around;
}
/*footer*/
footer {
    background-color: black;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 0.8em;
}

.w-100 {
    margin-top: 20px;
}
/*Estilos padrões*/
.TitlePadrao{
    margin: auto;
    max-width: 500px;
    text-align: center;
}
.TitlePadrao h2{
    font-size: 1.5em;
}
.TitlePadrao .br{
    max-width: 50%;
}